<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="/../base::layout(~{::section})">
<head>
    <meta charset="UTF-8">
    <title th:text="${title}"></title>
</head>
<body>
<section>
    <div class="new-container d-flex justify-content-center align-items-center">
        <div class="card view-card">
            <img th:src="@{'/images/'+${note.getUser().id}+'/'+${note.getImage()}}" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title" th:text="${note.title}">Card title</h5>
                <p class="card-text" th:text="${note.description}">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
<!--                <a href="#" class="btn btn-primary">Go somewhere</a>-->
            </div>
            <div class="card-footer d-flex justify-content-end" th:text="${note.noteAddingTime} ">
                Card footer
            </div>
        </div>
    </div>
</section>
</body>
</html>