.bg-primary {
    background: #009688 !important;
}

.banner {
    width: 100%;
    height: 93vh;
    background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)) ,url("../images/banner.png");
    background-size: cover;
    color: white;
    z-index: 0;
}

.sidebar{
    height: 100vh;
    width: 15%;
    background: #e2e2e2;
    padding-top: 15px;
    float: left;
}

.sidebar a{
    display: block;
    width: 100%;
    padding: 10px 25px;
    text-decoration: none;
    color: black;
}

.sidebar a:hover{
    background: white;
}


.new-container{
    width: 85%;
    color: black;
    float: right;
}
.new-container-extend{
    width: 100%!important;
}

.hide-content{
    display: none;
}

.view-card{
    margin-top: 20px;
    width: 40rem;
}
.search-container{
    position: relative;
}


.invalid-feedback{
    display: inline!important;
}
